
			
	/* VisitorInfor - form area */
				#VisitorInfo{
					font-size: 0.8em;
				}
				
				#wrap {
					width:600px;
					margin:0 auto;
					float:left;
				}

				div.colLeft{
					float:left;
					width: 290px;
					margin-left: 10px;
				}
				
				div.colRight{
					float: right;
					margin-left: 10px;
					width: 290px;
				}

				label{
					width: 100px;
					margin-right: 10px;
					margin-bottom: 10px;
					text-align: right;
					font-family:"Lucida Console", Monaco, monospace;
					font-weight: bold;
					float: left;
				}
				
				label.lblLeft{
					clear: left;
				}


				input{
					width: 250px;
					background-color: #E0FFFF;
					font-family:"Lucida Console", Monaco, monospace;
					margin-bottom: 10px;
				}
				
				input:focus
				{
						background-color: #99FFFF;
				}
/******************************** - End VisitorInfor Form - ******************************/
